html,
body {
    margin: 0;
    padding: 0;
}

.img-logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 20px auto;

}

.btn {
    display: block;
    width: 280px;
    height: 50px;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4BDCB0;
    color: rgb(0, 0, 0);
    border: 4px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}